/* .jc-form__section {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  padding: 20px 32px;
} */

/* .jc-form__section-input--explain > div {
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;
  top: 0;
  left: 50%;
  transform: translateX(-50%), translateY(0);
  opacity: 1;
}

.jc-form__section-input--explain:hover > div {
  transform: translateX(-50%), translateY(-110%);

  opacity: 1;
} */
.jc-form__section-input--explain > div {
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%); /* Correct syntax */
  opacity: 0;
}

.jc-form__section-input--explain:hover > div {
  transform: translate(-50%, -130%); /* Combine X and Y in one */
  opacity: 1;
}
.jc-form__section-input input:focus + .jc-form__section-input--decor {
  opacity: 1;
  transform: scale(1);
}
.test {
  color: red;
}
.jc-form__section-input:focus-within + .test {
  color: blue;
}
