.hero__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-image: url("./imgs/hero-bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.hero__cta-btn::after {
  content: "";
  width: 100px;
  height: 100px;
  background-position: center;
  background-image: url("./imgs/arrow.png");
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}
.hero__cta-btn:hover::after {
  right: -105px;
  transition: all 0.1s ease-in-out;
}
.jc-section__sub-heading {
  position: relative;
  width: fit-content;
}
.jc-arrow-long::after {
  content: "";
  width: 100px;
  height: 30px;
  display: none;
  background-position: right;
  background-image: url("./imgs/arrow-long.png");
  background-repeat: no-repeat;
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 640px) {
  .jc-arrow-long::after {
    display: block;
  }
}
@media (min-width: 768px) {
  .jc-arrow-long::after {
    width: 150px;
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .jc-arrow-long::after {
    width: 250px;
  }
}
.about__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
  background-image: url("./imgs/about-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.service__card {
  background: radial-gradient(circle at center, #433d60 0%, #211e2e 100%);
}

.tech__heading {
  border-radius: 200px;
  background-image: url("./imgs/tech-heading-bg.png");
  background-position: center;
  background-size: cover;
}
.tech__icon {
}

.process {
  background-image: url();
}

.process__arrow {
  width: 67px;
  height: 67px;
  background-size: contain;
  background-position: center;
  background-image: url("./imgs/arrow.png");
  position: absolute;
  left: 30%;

  top: 0;
  transform: translateX(-60px) translateY(-35%);
}
.process__bg::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 90%;

  background-image: url("./imgs/process-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__line {
  position: relative;
}
.footer__line::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 2px;
  background: linear-gradient(
    to bottom,
    #343045 0%,
    #c0b7e8 35%,
    #8176af 69%,
    #343045 99%
  );
  background-color: #ff0d0d;
}
.footer__line-w {
  height: 1px;
  background: linear-gradient(
    to bottom,
    #343045 0%,
    #c0b7e8 35%,
    #8176af 69%,
    #343045 99%
  );
}

.service__card {
  position: relative;
}
.service__card button {
  position: absolute;
  bottom: 40px;
}
