@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .jc-container {
    @apply container px-5 sm:px-6 lg:px-8 mx-auto;
  }
  .jc-grid {
    @apply grid grid-cols-12 gap-[12px];
  }
  .jc-hover {
    @apply opacity-80 hover:opacity-100 ease-in-out cursor-pointer;
  }
  .jc-btn {
    @apply px-[38px] py-[12px] rounded-[40px] font-bold jc-text-black hover:text-white ease-in;
  }
  .jc-form__section {
    @apply w-full bg-white rounded sm:px-[32px] sm:py-[20px] px-[20px] py-[12px];
  }
  .jc-form__section-input--wrapper {
    @apply grid sm:gap-x-[40px] sm:gap-y-[24px] gap-x-[20px] gap-y-[24px]  grid-cols-2;
  }
}
@layer utilities {
  .jc-text-black {
    color: #343045;
  }
  .jc-text-gray {
    color: #8281a2;
  }
  .jc-bg-linear {
    background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
  }
  .jc-btn-border {
    border-radius: 40px;
  }
  .jc-text-2xl {
    @apply text-[32px] md:text-[48px] lg:text-[60px];
  }
  .jc-text-xl {
    @apply text-[20px] md:text-[24px] lg:text-[32px];
  }
  .jc-text-lg {
    @apply text-[16px] md:text-[16px] lg:text-[22px];
  }
  .jc-text-base {
    @apply text-[14px] md:text-[16px] lg:text-[16px];
  }
  .jc-text-sm {
    @apply text-[12px] md:text-[14px] lg:text-[14px];
  }
  .jc-text-linear {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#8176af] to-[#c0b7e8];
  }
  .jc-link {
    @apply cursor-pointer no-underline text-[#19a1f0] hover:text-[#10529b] transition-colors duration-100 ease-linear;
  }
  .jc-section__heading {
    @apply text-[26px] md:text-[24px] lg:text-[32px] font-semibold leading-none text-white;
  }
  .jc-section__sub-heading {
    @apply text-[26px] md:text-[24px] lg:text-[32px] font-light leading-none text-white;
  }
  .jc-section__caption {
    @apply text-[14px] md:text-[16px] lg:text-[16px] font-normal text-white;
  }
}
.jc-animation-slide-down {
  transform-origin: top;
  animation: scrollDown 0.5s ease-in-out both;
}

.jc-animation-slide-up {
  transform-origin: top;
  animation: scrollUp 0.5s ease-in-out both;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0.95);
  }
  100% {
    opacity: 1;
    max-height: 1000px; /* enough height for content */
    transform: scaleY(1);
  }
}

@keyframes scrollUp {
  0% {
    opacity: 1;
    max-height: 1000px;
    transform: scaleY(0.95);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
  }
}
